@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.body-color{
  background-color: rgba(0,0,0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-alert{
}

@media only screen
and (max-width : 1024px) {
  .container-alert{
   display:none;
  }
}

@media only screen
and (min-width : 1024px) {
 .container-alert{
  //  background-color: red;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 98vw;
   max-width: 98vw;
   height: 95vh;
   max-height: 95vh;
   margin: 0 auto;
   position: absolute;
   // display:none;
 }
}

.alert-img{
}
@media only screen
and (min-width : 1024px) {
 .alert-img{
   height: 60vh;
 }
}

.alert-txt{
}
@media only screen
and (min-width : 1024px) {
 .alert-txt{
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 110px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
}
}

.container-principal{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  gap: 7.5vw;
  background-color: #fff;
  width: 95vw;
  margin: 2.5vw auto;
  box-shadow: 4px 5px 3px rgba(50,50,50,0.3);
  padding-bottom: 5vw;
  border: 1px solid rgb(255,0,255);
  z-index: -5;
}

@media only screen
and (min-width : 1024px) {
  .container-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // gap: 7.5vw;
    width: 98vw;
    max-width: 98vw;
    height: 95vh;
    max-height: 95vh;
    margin: 0.75vw auto;
    margin-top: 2vh;
    padding-bottom: 0;
    background-color: #fff;
    box-shadow: 5px 6px 6px rgba(50,50,50,0.3);
    border: 2px solid rgb(255,0,255);
    z-index: -5;

    // display:none;
  }
}

.container-head{
  width: 100%;
  height: 75vw;
  // background-color: red;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
}

@media only screen
and (min-width : 1024px) {
  .container-head{
    width: 77%;
    height: 300px;
    margin: 0 auto;
    margin-top: 28vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    // display:none;
  }
}

.profile-photo{
  width: 50vw;
  border-radius: 25vw;
  outline: 3vw solid rgb(0,255,255);
  outline-offset: 2vw;
  margin: 0 auto;
  margin-top: 20vw;
  margin-bottom: 5vw;
}

.profile-photo:active{
  outline-offset: 0vw;
  outline: 500vw solid rgb(0,255,255);
  background-color: rgb(0,255,255) ;
}

@media only screen
and (min-width : 1024px) {
  .profile-photo{
    // width: 300px;
    // border-radius: 150px;
    // outline: 12px solid rgb(0,255,255);
    // outline-offset: 10px;
    // margin: 0 auto;
    // margin-top: 0;
    display:none;
  }
}

.whatsapp-icon{
  position: absolute;
  z-index: 0;
  width: 11vw;
  bottom: 15vw;
  left: 60vw;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0, 0.5));
}

.whatsapp-icon:active{
  outline-offset: 0vw;
  outline: 500vw solid rgb(0,255,255);
}

@media only screen
and (min-width : 1024px) {
  .whatsapp-icon{
    // position: absolute;
    // z-index: 0;
    // width: 45px;
    // bottom: 20px;
    // left: 252px;
    // -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0, 0.5));

    display:none;
  }
}

.its-me{
  margin: 0 auto;
  /* padding: 2vw; */
  font-size: 6vw;
  margin-top: 5vw;
  margin-bottom: 10vw;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
}

@media only screen
and (min-width : 1024px) {
  .its-me{
    // margin: 0 auto;
    // font-size: 40px;
    // margin-top: 7px;
    // margin-bottom: 0;
    // margin-left: 110px;
    // font-family: 'IBM Plex Mono', monospace;
    // font-weight: 400;

    display:none;
  }
}

.form-like{
  width: 90%;
  margin: 0 auto;
  position: relative
}

@media only screen
and (min-width : 1024px) {
  .form-like{
    display:none;
  }
}

.form-like-short{
  width: 70%;
  margin: 0 auto;
  position: relative
  }

@media only screen
and (min-width : 1024px) {
  .form-like-short{
    display:none;
  }
}


.form-label{
  font-size: 3vw;
  font-family: 'IBM Plex Mono', monospace;
  /* font-style: italic; */
  color: rgb(200,200,200);
  margin-bottom: 0.2rem;
  position: absolute;
  top:-3.5vw;
  left: -0vw;
}

@media only screen
and (min-width : 1024px) {
  .form-label{
    display:none;
  }
}

.form-text{
  padding: 3vw;
  border: 1px solid rgb(220,220,220);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 4vw !important;
  line-height: 1.3;
  color: #111 !important;
}

@media only screen
and (min-width : 1024px) {
  .form-text{
    display:none;
  }
}

.container-lateral{
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}

@media only screen
and (min-width : 1024px) {
  .container-lateral{
    display:none;
  }
}

.container-vertical{
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 8vw;
  margin-top: 10vw;
  margin-bottom: 10vw;
}

@media only screen
and (min-width : 1024px) {
  .container-vertical{
    display:none;
  }
}

.previous-work-text{
  font-size: 3vw;
  font-family: 'IBM Plex Mono', monospace;
  /* font-style: italic; */
  color: rgb(200,200,200);
}

@media only screen
and (min-width : 1024px) {
  .previous-work-text{
    display:none;
  }
}

.text_port{
  text-align: center;
  color:#111;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 4vw;
  font-weight: 400;
  text-decoration: none;
  border: 2px solid rgb(0,255,255);
  outline-offset: 1vw;
  outline: 2px solid rgb(255,0,255);
  padding: 10px;
  width: 88%;
}

.text_port:active{
  outline-offset: 0vw;
  outline: 500vw solid rgb(255,0,255);
  background-color: rgb(255,0,255);
}

@media only screen
and (min-width : 1024px) {
  .text_port{
    display:none;
  }
}


.container-image{
  display: flex;
  justify-content: start;
  width: 90%;
  gap: 5vw;
  margin: 4vw auto 0 auto;
  align-items: center;
}

// .container-image:active{
//   outline-offset: 0vw;
//   outline: 500vw solid rgb(0,255,255);
//   background-color: rgb(0,255,255);
// }

@media only screen
and (min-width : 1024px) {
  .container-image{
    display:none;
  }
}

.image-pic-numb{
  width: 5vw;
}

@media only screen
and (min-width : 1024px) {
  .image-pic-numb{
    display:none;
  }
}

.image-pic{
  width: 5vw;
}

.image-pic:active{
  outline-offset: 0vw;
  outline: 500vw solid rgb(0,255,255);
  background-color: rgb(0,255,255);
}

@media only screen
and (min-width : 1024px) {
  .image-pic{
    display:none;
  }
}

.image-text-numb{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 4vw;
  /* font-weight: 500; */
  text-decoration: none;
  decoration: none;
}

@media only screen
and (min-width : 1024px) {
  .image-text-numb{
    display:none;
  }
}


.image-text{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 4vw;
  /* font-weight: 500; */
  text-decoration: none;
  decoration: none;
}

.image-text:active{
  outline-offset: 0vw;
  outline: 500vw solid rgb(0,255,255);
  background-color: rgb(0,255,255);
}

@media only screen
and (min-width : 1024px) {
  .image-text{
    display:none;
  }
}
